<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="utf-8">
<title>Create New Micro Meetup</title>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>

<base href="/">
</head>
<body>

  <div class="page create">

    <div class="container">
      
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

          <form>
          
            <!-- Type of event -->

            <div class="create__type">
            
              <span class="create__header">What do you want to do tonight?</span>
          
              <select class="form-control">
                <option>- select an activity -</option>
                <option>party</option>
                <option>grab dinner</option>
                <option>grab drinks</option>
                <option>watch a movie</option>
              </select>
          
            </div>

            <!-- Event starting time -->
          
            <div class="create__time">
            
              <span class="create__header">What time?</span>
          
              <select class="form-control">
                <option>6:00PM</option>
                <option>6:30PM</option>
                <option>7:00PM</option>
                <option>7:30PM</option>
                <option>8:00PM</option>
                <option>8:30PM</option>
                <option>9:00PM</option>
                <option>9:30PM</option>
                <option>10:00PM</option>
                <option>10:30PM</option>
                <option>11:00PM</option>
                <option>11:30PM</option>
              </select>
          
            </div>
          
            <div class="create__location-venue create__section">
            
              <span class="create__header">Where would you like to meet?</span>
          
              <div class="create__location__venue">
                <div class="create__location__venue__img" style="background-image: url('PUTHERE');"></div>
                <div class="create__location__venue__details">
                  <span class="create__location__venue__title">Stars</span>
                  <span class="create__location__venue__type">Rooftop Bar</span>
                  <span class="create__location__venue__location">Downtown Charleston</span>
                </div>
                <label class="radio">
                  <input class="" type="radio" name="" id="" ng-model=""> <span>Choose this location</span>
                </label>
              </div>

              <div class="create__location__venue">
                <div class="create__location__venue__img" style="background-image: url('PUTHERE');"></div>
                <div class="create__location__venue__details">
                  <span class="create__location__venue__title">Stars</span>
                  <span class="create__location__venue__type">Rooftop Bar</span>
                  <span class="create__location__venue__location">Downtown Charleston</span>
                </div>
                <label class="radio">
                  <input class="" type="radio" name="" id="" ng-model=""> <span>Choose this location</span>
                </label>
              </div>

            </div>

            <div class="create__question">
              <span class="create__question__title">Question one title</span>
              <textarea class="form-control create__question__field" rows="2"></textarea>
            </div>

            <div class="create__question">
              <span class="create__question__title">Question one title</span>
              <textarea class="form-control create__question__field" rows="2"></textarea>
            </div>

            <div class="create__question">
              <span class="create__question__title">Question one title</span>
              <textarea class="form-control create__question__field" rows="2"></textarea>
            </div>

            <!-- Create Event -->
          
            <div class="create__submit">
              <button type="submit" class="btn btn-primary">Create Event</button>
            </div>
          
          </form>
        </div>
      </div>

    </div>

  </div>

<!--  -->

</body>
</html>