<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>loopback-getting-started-intermediate</title>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>

    <base href="/">
  </head>
  <body>

<!-- Start signup form -->

<form>

  <!-- 1. Sports -->

  <h4>Pick 3 of your favorite sports</h4>
  <p>Pick up to 3</p>

  <div class="signup__sports">

    <!-- Name -->
    
    <div class="signup__sports__checkboxes">
    
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ncaaf">
            NCAAF
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="nfl">
            NFL
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ncaab">
            NCAAB
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="nba">
            NBA
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="mlb">
            MLB
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="nhl">
            NHL
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="nhl">
            NHL
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="soccer">
            Soccer
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="golf">
            Golf
        </label>
      </div>
    
    </div>

  </div>

  <!-- 2. Music -->

  <h4>Favorite Music Genres</h4>
  <p>Pick up to 3</p>

  <div class="signup__music">

    <!-- Name -->
    
    <div class="signup__music__checkboxes">
    
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ncaaf">
            Hip Hop / Rap
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="nfl">
            Rock / Alternative
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ncaab">
            Pop
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="nba">
            R&amp;B
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="mlb">
            Country
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="nhl">
            EDM
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="soccer">
            Soccer
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="golf">
            Golf
        </label>
      </div>
    
    </div>

  </div>

  <!-- 3. Movies -->

  <h4>Favorite Movie Genres</h4>
  <p>Pick up to 3</p>

  <div class="signup__movies">

    <div class="signup__movies__checkboxes">
    
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="action">
            Action / Adventure
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="nfl">
            Comedy
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ncaab">
            Romance
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="nba">
            Drama
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="mlb">
            Horror / Thrillers
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="nhl">
            Documentaries
        </label>
      </div>
    
    </div>

  </div>

  <!-- 4. Food -->

  <h4>Favorite Foods?</h4>
  <p>Pick up to 3</p>

  <div class="signup__food">

    <div class="signup__food__checkboxes">
    
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="action">
            American
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="nfl">
            Mexican
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ncaab">
            Asian
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="mlb">
            Mediterranean / Greek
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="nhl">
            Italian
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="nhl">
            Vegetarian
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="nhl">
            Gluten Free
        </label>
      </div>
    
    </div>

  </div>

  <!-- 5. Politics -->

  <h4>Politics</h4>
  <p>Description Goes Here</p>

  <div class="signup__politics">

    <div class="signup__politics__radios">
      <label class="radio-inline">
        <input class="signupgender__option" type="radio" name="genderSelect" id="signup__politics__republican" ng-model="male"> Republican
      </label>
      <label class="radio-inline">
        <input class="signup__option" type="radio" name="genderSelect" id="signup__politics__democrat" ng-model="female"> Democrat
      </label>
      <label class="radio-inline">
        <input class="signup__option" type="radio" name="genderSelect" id="signup__politics__other" ng-model="female"> Other
      </label>
      <label class="radio-inline">
        <input class="signup__option" type="radio" name="genderSelect" id="signup__politics__no-preference" ng-model="female"> Doesn't matter to me!
      </label>
    </div>

  </div>

  <!-- 6. Prefences -->

  <h4>Preferences</h4>
  <p>Description Goes Here</p>

  <div class="signup__preferences">

    <span>Are you ok with smoking?</span>

    <div class="signup__preferences__smoking">
      <label class="checkbox-inline">
        <input type="checkbox" id="" ng-model="option1"> Yes
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="" ng-model="option2"> No
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="" ng-model="option2"> Doesn't Matter
      </label>
    </div>

    <div class="signup__preferences__drinking">

      <span>Are you ok with drinking?</span>

      <label class="checkbox-inline">
        <input type="checkbox" id="" ng-model="option1"> Yes
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="" ng-model="option2"> No
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="" ng-model="option2"> Doesn't Matter
      </label>
    </div>

  </div>

  <!-- 7. Basic Info -->

  <div class="signup__basic-info signup__page">

    <h4>Last part! Give Us Your Basic Info</h4>

    <!-- Name -->
    
    <div class="signup__name">
    
      <div class="form-group">
        <label for="signup__name__first-name">First Name</label>
        <input type="text" class="form-control" id="signup__name__first-name" placeholder="First Name">
      </div>
      
      <div class="form-group">
        <label for="signup__name__last-name">Last Name</label>
        <input type="text" class="form-control" id="signup__name__last-name" placeholder="Last Name">
      </div>
    
    </div>
    
    <!-- Gender Select -->
    
    <div class="signup__gender">
      <label class="radio-inline">
        <input class="signupgender__option" type="radio" name="genderSelect" id="genderRadio" ng-model="male"> Male
      </label>
      <label class="radio-inline">
        <input class="signup__option" type="radio" name="genderSelect" id="genderRadio2" ng-model="female"> Female
      </label>
    </div>
    
    <!-- Age -->
    
    <div class="form-group">
      <label for="signup__last-name">Your Age</label>
      <input type="text" class="form-control" id="signup__age" ng-model="">
    </div>

    <!-- Occupation -->
    
    <div class="form-group">
      <label for="signup__occupation">Occupation</label>
      <input type="text" class="form-control" id="signup__occupation" ng-model="">
    </div>
    
    <!-- Email Address -->
    
    <div class="form-group">
      <label for="signup__email">Email address</label>
      <input type="email" class="form-control" id="signup__email" ng-model="">
    </div>
    
    <!-- Password -->
    
    <div class="form-group">
      <label for="signup__password">Password</label>
      <input type="password" class="form-control" id="signup__password" ng-model="">
    </div>
    
    <!-- Short Description -->
    
    <div class="form-group">
      <label for="signup__description">Short description</label>
      <textarea class="form-control" rows="3" ng-model=""></textarea>
    </div>
    
    <!-- Submit Button -->
    
    <button type="submit" class="btn btn-default">Submit</button>

  </div>

  <!-- End Basic Info -->

</form>

</body>
</html>