// Base Elements
@import "less/bootstrap.less";
@import "less/feed.less";
@import "less/meetup.less";
@import "less/header.less";
@import "less/event.less";
@import "less/create.less";
@import "less/profile.less";
@import "less/page.less";

/*global*/
* {
  margin:0;
  padding:0;
}
body {
  background-color: @gray-lighter;
  font-family: "source sans pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #808080;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

