<section class="feed">

    <div class="container">
        <a class="card feed__create-new-btn" ui-sref="createEvent" ui-sref-active="active">
            <img class="feed__create-new-btn__icon" src="http://placehold.it/20x20x">
            Create New Meetup
        </a>
        <span class="feed__meetup-list__title">Meetups in Charleston:</span>
        <div ng-repeat="item in events">




            <div class="card feed__meetup">

                <img class="feed__meetup__owner-img" src="{{item.owner.photo}}">

                <div class="feed__meetup__subject">
                    <img class="feed__meetup__icon feed__meetup__icon--type" src="images/create-new.svg">
                    <span class="feed__meetup__title"><strong>{{item.owner.firstName}}  {{item.owner.lastName}}</strong> wants to meet up and <strong>{{item.eventType}}</strong></span>
                </div>

                <div class="feed__meetup__details">
                    <img class="feed__meetup__icon feed__meetup__icon--location" src="http://placehold.it/10x16">
                    <strong class="feed__meetup__details__time">{{item.startTime}}</strong><span class="feed__meetup__details__location">Downtown Charleston</span>
                </div>

                <div class="feed__meetup__view-details"><a href="" class="feed__meetup__view-details__btn">View Details</a></div>

            </div>
        </div>

    </div>
</section>