<div class="join">

    <div class="join__question">
        <span class="create__question__title">Question one title</span>
        <textarea class="form-control create__question__field" rows="2"></textarea>
    </div>

    <div class="join__question">
        <span class="create__question__title">Question one title</span>
        <textarea class="form-control create__question__field" rows="2"></textarea>
    </div>

    <div class="join__question">
        <span class="join__question__title">Question one title</span>
        <textarea class="form-control join__question__field" rows="2"></textarea>
    </div>

    <!-- join Event -->

    <div class="join__submit">
        <button type="submit" class="btn btn-primary">Join Event</button>
    </div>

    </form>
</div>
</div>

</div>

</div>