<!-- Start signup form -->

<form name="form" ng-submit="register()">


  <!-- 7. Basic Info -->

  <div class="signup__basic-info signup__page">

    <h4>Enter Your Basic Info</h4>

    <!-- Name -->

    <div class="signup__name">

      <div class="form-group">
        <label for="signup__name__first-name">First Name</label>
        <input type="text" class="form-control" id="signup__name__first-name" placeholder="First Name" ng-model="user.firstName">
      </div>

      <div class="form-group">
        <label for="signup__name__last-name">Last Name</label>
        <input type="text" class="form-control" id="signup__name__last-name" placeholder="Last Name" ng-model="user.lastName">
      </div>

    </div>

    <!-- Gender Select -->

    <div class="signup__gender">
      <label class="radio-inline">
        <input class="signupgender__option" type="radio" name="genderSelect" id="genderRadio" value="male" ng-model="user.gender"> Male
      </label>
      <label class="radio-inline">
        <input class="signup__option" type="radio" name="genderSelect" id="genderRadio2" value="female" ng-model="user.gender"> Female
      </label>
    </div>

    <!-- Photo  -->

    <div class="form-group">
      <label for="signup__photo">Photo URL</label>
      <input type="text" class="form-control" id="signup__photo" ng-model="user.photo" placeholder="http://">
    </div>

    <!-- Email Address -->

    <div class="form-group">
      <label for="signup__email">Email address</label>
      <input type="email" class="form-control" id="signup__email" ng-model="user.email">
    </div>

    <!-- Password -->

    <div class="form-group">
      <label for="signup__password">Password</label>
      <input type="password" class="form-control" id="signup__password" ng-model="user.password">
    </div>

    <!-- Submit Button -->

    <button type="submit" class="btn btn-default">Submit</button>

  </div>

  <!-- End Basic Info -->

</form>

<!-- End signup form -->

<!--<section>-->
  <!--<form name="form" ng-submit="register()">-->
    <!--<fieldset>-->
      <!--<legend>Sign up form</legend>-->

      <!--<div class="form-group">-->
        <!--<label>Email</label>-->
        <!--<input name="email" type="text" ng-model="user.email">-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label>Password</label>-->
        <!--<input name="password" type="password" ng-model="user.password">-->
      <!--</div>-->

      <!--<div class="actions">-->
        <!--<label></label>-->
        <!--<button>Sign up</button>-->
      <!--</div>-->
    <!--</fieldset>-->
  <!--</form>-->
<!--</section>-->
