<!-- Start signup form -->

<form name="form" ng-submit="register()">

  <!-- 1. Sports -->

  <h4>Pick 3 of your favorite sports</h4>
  <p>Pick up to 3</p>

  <div class="signup__sports">

    <!-- Name -->

    <div class="signup__sports__checkboxes">

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.ncaaf">
          NCAAF
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.nfl">
          NFL
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.ncaab">
          NCAAB
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.nba">
          NBA
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.mlb">
          MLB
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.nhl">
          NHL
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.soccer">
          Soccer
        </label>
      </div>


      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.pga">
          Golf
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.sportsDontMatter">
          Sports Don't Matter
        </label>
      </div>

    </div>

  </div>

  <!-- 2. Music -->

  <h4>Favorite Music Genres</h4>
  <p>Pick up to 3</p>

  <div class="signup__music">

    <!-- Name -->

    <div class="signup__music__checkboxes">

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.hipHopRap">
          Hip Hop / Rap
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.rockAlternative">
          Rock / Alternative
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.pop">
          Pop
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.randb">
          R&amp;B
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.country">
          Country
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.latin">
          EDM
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.edm">
          EDM
        </label>
      </div>

    </div>

  </div>

  <!-- 3. Movies -->

  <h4>Favorite Movie Genres</h4>
  <p>Pick up to 3</p>

  <div class="signup__movies">

    <div class="signup__movies__checkboxes">

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.actionAdventure">
          Action / Adventure
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.comedy">
          Comedy
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.romance">
          Romance
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.drama">
          Drama
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.horrorThrillers">
          Horror / Thrillers
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.documentaries">
          Documentaries
        </label>
      </div>

    </div>

  </div>

  <!-- 4. Food -->

  <h4>Favorite Foods?</h4>
  <p>Pick up to 3</p>

  <div class="signup__food">

    <div class="signup__food__checkboxes">

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.americanFood">
          American
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.mexicanFood">
          Mexican
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.asian">
          Asian
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.mediterraneanGreek">
          Mediterranean / Greek
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.italian">
          Italian
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.vegetarian">
          Vegetarian
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.favorites.glutenFree">
          Gluten Free
        </label>
      </div>

    </div>

  </div>

  <!-- 5. Politics -->

  <h4>Politics</h4>
  <p>Description Goes Here</p>

  <div class="signup__politics">

    <div class="signup__politics__radios">
      <label class="radio-inline">
        <input class="" type="radio" name="" id="signup__politics__republican" value="Republican" ng-model="user.favorites.politics"> Republican
      </label>
      <label class="radio-inline">
        <input class="" type="radio" name="" id="signup__politics__democrat" value="Democrat" ng-model="user.favorites.politics"> Democrat
      </label>
      <label class="radio-inline">
        <input class="" type="radio" name="" id="signup__politics__other" value="Other" ng-model="user.favorites.politics"> Other
      </label>
      <label class="radio-inline">
        <input class="" type="radio" name="" id="signup__politics__no-preference" value="Doesn't Matter" ng-model="user.favorites.politics"> Doesn't matter to me!
      </label>
    </div>

  </div>

  <!-- 6. Prefences -->

  <h4>Preferences</h4>
  <p>Description Goes Here</p>

  <div class="signup__preferences">

    <span>Are you ok with smoking?</span>

    <div class="signup__preferences__smoking">
      <label class="checkbox-inline">
        <input type="radio" id="signup__smoking_yes" value="Yes" ng-model="user.favorites.smoking"> Yes
      </label>
      <label class="checkbox-inline">
        <input type="radio" id="signup__smoking_no" value="No" ng-model="user.favorites.smoking"> No
      </label>
      <label class="checkbox-inline">
        <input type="radio" id="signup__smoking_no-preference" value="Doesn't Matter" ng-model="user.favorites.smoking"> Doesn't Matter
      </label>
    </div>

    <div class="signup__preferences__drinking">

      <span>Are you ok with drinking?</span>

      <label class="checkbox-inline">
        <input type="radio" id="signup__drinking_yes" value="Yes" ng-model="user.favorites.drinking"> Yes
      </label>
      <label class="checkbox-inline">
        <input type="radio" id="signup__drinking_no" value="No" ng-model="user.favorites.drinking"> No
      </label>
      <label class="checkbox-inline">
        <input type="radio" id="signup__drinking_no-preference" value="Doesn't Matter" ng-model="user.favorites.drinking"> Doesn't Matter
      </label>
    </div>

  </div>

  <!-- 7. Basic Info -->

  <div class="signup__basic-info signup__page">

    <h4>Last part! Give Us Your Basic Info</h4>

    <!-- Name -->

    <div class="signup__name">

      <div class="form-group">
        <label for="signup__name__first-name">First Name</label>
        <input type="text" class="form-control" id="signup__name__first-name" placeholder="First Name" ng-model="user.firstName">
      </div>

      <div class="form-group">
        <label for="signup__name__last-name">Last Name</label>
        <input type="text" class="form-control" id="signup__name__last-name" placeholder="Last Name" ng-model="user.lastName">
      </div>

    </div>

    <!-- Gender Select -->

    <div class="signup__gender">
      <label class="radio-inline">
        <input class="signupgender__option" type="radio" name="genderSelect" id="genderRadio" value="male" ng-model="user.gender"> Male
      </label>
      <label class="radio-inline">
        <input class="signup__option" type="radio" name="genderSelect" id="genderRadio2" value="female" ng-model="user.gender"> Female
      </label>
    </div>

    <!-- Age -->

    <div class="form-group">
      <label for="signup__age">Your Age</label>
      <input type="number" class="form-control" id="signup__age" ng-model="user.age">
    </div>

    <!-- Occupation -->

    <div class="form-group">
      <label for="signup__occupation">Occupation</label>
      <input type="text" class="form-control" id="signup__occupation" ng-model="user.occupation">
    </div>

    <!-- Location -->

    <div class="form-group">
      <label for="signup__location">Location</label>
      <input type="text" class="form-control" id="signup__location" ng-model="user.location">
    </div>

    <!-- Email Address -->

    <div class="form-group">
      <label for="signup__email">Email address</label>
      <input type="email" class="form-control" id="signup__email" ng-model="user.email">
    </div>

    <!-- Password -->

    <div class="form-group">
      <label for="signup__password">Password</label>
      <input type="password" class="form-control" id="signup__password" ng-model="user.password">
    </div>

    <!-- Short Description -->

    <div class="form-group">
      <label for="signup__description">Short description</label>
      <textarea class="form-control" rows="3" id="signup__description" ng-model="user.description"></textarea>
    </div>

    <!-- Submit Button -->

    <button type="submit" class="btn btn-default">Submit</button>

  </div>

  <!-- End Basic Info -->

</form>

<!-- End signup form -->

<!--<section>-->
  <!--<form name="form" ng-submit="register()">-->
    <!--<fieldset>-->
      <!--<legend>Sign up form</legend>-->

      <!--<div class="form-group">-->
        <!--<label>Email</label>-->
        <!--<input name="email" type="text" ng-model="user.email">-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label>Password</label>-->
        <!--<input name="password" type="password" ng-model="user.password">-->
      <!--</div>-->

      <!--<div class="actions">-->
        <!--<label></label>-->
        <!--<button>Sign up</button>-->
      <!--</div>-->
    <!--</fieldset>-->
  <!--</form>-->
<!--</section>-->
