<div class="meetup-pg">

    <div class="container">

        <div class="meetup card">

            <section class="meetup__subject">
                <div class="meetup__subject__icons">
                    <img class="meetup__subject__owner-img" src="http://placehold.it/40x40">
                    <img class="meetup__subject__type-icon" src="http://placehold.it/40x40">
                </div>
                <div class="meetup__subject__copy">
                    <p><span class="meetup__subject__copy__owner-name">{{event.owner.firstName}}</span> wants to meet up and <span class="meetup__subject__copy__activity">{{event.eventType}}</span></p>
                </div>
            </section>

            <ul class="meetup__details">
                <li class="meetup__details__time">{{event.startTime}}</li>
                <li class="meetup__details__location-title">Stars</li>
                <li class="meetup__details__location-area">Downtown Charleston</li>
                <li class="meetup__details__directions"><a href="https://www.google.com/maps?daddr=1210+King+Street+Charleston" target="_blank" class="meetup__details__directions__link">Get Directions</a></li>
            </ul>
            <section class="meetup__attendees">

                <div class="meetup__attendees">



                </div>
            </section>

            <section class="meetup__action">
                <a href="#/joinEvent/{{eventId}}" class="btn btn--join">Join Event</a>
            </section>

        </div>

    </div>

</div>
